

.game {
    width: 70%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transform-style: preserve-3d;
}

.itens {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: all .25s;
}
.itens::after{
    border-radius: 50%;
    content: "";
    position: absolute;
    inset: 0;
    background: #34314B;
    border: none;
    transition: all .3s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.itens.boxOpen{
    transform: rotateY(0deg);
}
.boxOpen::after, .boxMatch::after{
    transform: rotateY(180deg);
}